<div class="container mat-elevation-z8">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="font-size: 0.75em">Projetos de Pesquisa</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>
    
    <!-- Título Column -->
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.titulo }} </mat-cell>
    </ng-container>

    <!-- Tempo Previsto Column -->
    <ng-container matColumnDef="tempo_previsto">
      <mat-header-cell *matHeaderCellDef> Tempo Previsto </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.tempo_previsto }} </mat-cell>
    </ng-container>

    <!-- Data Início Column -->
    <ng-container matColumnDef="data_inicio">
      <mat-header-cell *matHeaderCellDef> Data Início </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.data_inicio }} </mat-cell>
    </ng-container>

    <!-- Data Conclusão Column -->
    <ng-container matColumnDef="data_conclusao">
      <mat-header-cell *matHeaderCellDef> Data Conclusão </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.data_conclusao }} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
